* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
}

Link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
}

.btns-nav {
  justify-content: flex-end;
}

nav {
  background-color: #000000;
  border-bottom: solid 2px #eefaf0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  filter: invert(100%);
  width: 60px;
  height: auto;
  padding: 0%;
  margin-right: 10px;
}

.img-container {
  color: aliceblue;
  padding: 0%;
  margin: 0%;
  height: auto;
  text-align: left;
  margin-left: 15px;
  font-size: 30px;
}

li {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

li a {
  text-decoration: none;
  font-weight: bold;
  background-color: #eefaf0;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  color: black;
  transition: .4s ease-out;
}

li a:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.student-img {
  margin-top: 50px;
  height: auto;
  width: 700px;
  margin-right: 40px;
  border-radius: 10px;
}

.campus-img {
  height: auto;
  width: 720px;
  margin-left: 40px;
  border-radius: 10px;
}

.student-div {
  display: flex;
  justify-content: end;
  margin-bottom: 150px;
}

.campus-div {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

h1 {
  color: white;
}

.campus-grid {
  display: inline-block;
  margin: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.container-campus {
  flex: 0 0 200px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #0a060c;
  padding: 20px;
  border: solid white;
  border-radius: 20px;
  transition: .4s ease-out;
}

.container-campus:hover {
  padding: 25px;
  transition: .4s ease-out;
  box-shadow: 0px 0px 20px rgb(252, 238, 238);
  cursor: pointer;
}

.campus-pic {
  width: 300px;
  height: auto;
  padding-bottom: 100%;
  position: relative;
}

.campus-pic img {
  position: absolute;
  height: auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.campus-page {
  text-align: center;
}

.add-campus {
  text-decoration: none;
  font-weight: bold;
  background-color: #eefaf0;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  color: black;
  transition: .4s ease-out;
}

.add-campus:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

p,
h2 {
  color: white;
}

.student-title {
  text-align: center;
}

.add-btn {
  justify-content: center;
}

.from-label {
  color: #eefaf0;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info-message {
  text-align: center;
}

button {
  text-decoration: none;
  font-weight: bold;
  background-color: #eefaf0;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  color: black;
  transition: .4s ease-out;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.campus-title {
  text-align: center;
}

.campus-img-single-view {
  height: auto;
  width: 800px;
  border-radius: 20px;
}

.image-container-single-view {
  display: flex;
  justify-content: center;
}

.paragraph-img {
  text-align: center;
}

.container-students-in-campus {
  display: flex;
  justify-content: center;
}

.student-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.student-item-li {
  display: flex;
  align-items: center;
  margin-left: 50px;
  border: solid black;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: auto;
  width: 230px;
}

.background-li-ul {
  background-color: #eefaf0;
  padding: 80px;
  border-radius: 20px;
}

.delete-student-btn {
  border: solid black;
  margin-left: 10px;
}

.link-color {
  color: #eefaf0;
}

.btn-campus-delete {
  margin-left: 5px;
}

.labels-form {
  text-align: center;
  color: #eefaf0;
  font-size: large;
}

.form-container {
  align-items: center;
}

.input-form, .add-input-form{
  height: auto;
  margin: 10px;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  border: solid black;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-btn {
  margin-top: 35px;
  margin-left: 8px;
}
.container-list-items {
  align-items: center;
  margin-left: 60px;
}

.item-name .card-link {
  overflow-wrap: break-word;
}

.item-name {
  font-size: 22px;
}

.add-form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form-label {
  color: #eefaf0;
  margin-bottom: 5px;
  text-align: center;
}

.add-btn-submit {
  margin-top: 18px;
}
.item-name-home {
  font-size: 50px; 
  overflow-wrap: break-word;
  margin: 70px;
}