* {
  font-family: 'Poppins', sans-serif;
}

Link {
  text-decoration: none;
}
li a{
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0%;
  margin-right: 15px;
  background-color: #eefaf0;
  border: solid 2px;
  border-radius: 10px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: black;
  transition: .4s ease-out;
}
li a:hover {
  cursor: pointer;
  color: white;
  transition: .4s ease-out;
  background-color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
nav {
  background-color: 	#c0e9a2;
  padding-top: 20px;
  padding-bottom: 20px;
}